<table style="border: 1px solid cyan;">
<tr>
  <td>
  	<h1><%= link_to blogpost.title, user_blogpost_path(@user, blogpost.id) %></h1></td>
  	<tr>
  	<td>
    <%= simple_format(blogpost.content) %>
    <div class="right">
      <% if current_user?(@user) %>
      <%= link_to "删除", blogpost, :method => :delete, :confirm => "你确定要删除这篇文章吗？",:title => "删除文章 #{blogpost.title}" %>
       || <%= link_to "编辑", edit_user_blogpost_path(@user, blogpost.id) %> || 
      <% end %>
      创建于 <%= time_ago_in_words(blogpost.created_at) %> 前.
    </div>
  </td>
</tr>
</table>
