<div class="prepend-6 append-6 wrapper">
<%= form_for(:session, :url => backend_create_sessions_path) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password, "密码" %><br />
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit "登录" %>
  </div>
<% end %>
</div>