<%= form_for(@accident, :url => case_accidents_path()) do |f| %>
  <% if @accident.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@accident.errors.count, "error") %> prohibited this accident from being saved:</h2>

      <ul>
      <% @accident.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>
  <tr>
    <th><%= f.label :sunshi_leixing,'损失类型' %> </th>
    <td><%= f.text_field :sunshi_leixing %></td>
    <th><%= f.label :chuxian_riqi,'出险日期' %> </th>
    <td><%= f.text_field :chuxian_riqi %> </td>
    <th><%= f.label :shifou_caijian,'是否拆检' %> </th>
    <td><%= f.text_field :chuxian_riqi %> </td>
  </tr>>
  <tr>
    <th><%= f.label :tingche_address,'停车地点' %> </th>
    <td><%= f.label :tingche_provice_id %> <%= f.label :tingche_city_id %> <br/>
       <%= f.text_field :tingche_more %>
    </td>
    <th><%= f.label :chejiaohao_sousun,'车架号是否受损' %> </th>
    <td><%= f.text_field :chejiaohao_sousun %> </td>
  </tr>>
  <tr>
    <th><%= f.label :zeren_rending,'责任认定' %> </th>
    <td><%= f.text_field :zeren_rending %> </td>
    
    <th><%= f.label :duifang_baoxian,'对方保险公司' %> </th>
    <td><%= f.text_field :duifang_baoxian %> </td>
    <th><%= f.label :renshang_qingkuang,'人伤情况' %> </th>
    <td><%= f.text_field :renshang_qingkuang %> </td>
  </tr>>
  <tr>
    <th><%= f.label :pengzhuang_buwei,'碰撞部位' %> </th>
    <td><%= f.text_field :pengzhuang_buwei %> </td>
  </tr>  
  <tr>
    <th><%= f.label :chuxian_jingguo,'出险经过' %> </th>
    <td><%= f.text_field :chuxian_jingguo %> </td>
  </tr> 
  <tr>
    <th><%= f.label :chengbao_jine,'车保金额' %> </th>
    <td><%= f.text_field :chengbao_jine %> </td>
    <th><%= f.label :gusun_jine,'估损金额' %> </th>
    <td><%= f.text_field :gusun_jine %> </td>
  </tr> 
  <tr>
    <th> </th>
    <td> <%= f.submit %> </td>
  </tr> 
   
</table>

  
<% end %>
