<p id="notice"><%= notice %></p>

<p>
  <b>Sunshi leixing:</b>
  <%= @accident.sunshi_leixing %>
</p>

<p>
  <b>Chuxian riqi:</b>
  <%= @accident.chuxian_riqi %>
</p>

<p>
  <b>Tingche provice:</b>
  <%= @accident.tingche_province_id %>
</p>

<p>
  <b>Tingche city:</b>
  <%= @accident.tingche_city_id %>
</p>

<p>
  <b>Tingche more:</b>
  <%= @accident.tingche_more %>
</p>

<p>
  <b>Chejiaohao sousun:</b>
  <%= @accident.chejiaohao_sousun %>
</p>

<p>
  <b>Zeren rending:</b>
  <%= @accident.zeren_rending %>
</p>

<p>
  <b>Duifang baoxian:</b>
  <%= @accident.duifang_baoxian %>
</p>

<p>
  <b>Renshang qingkuang:</b>
  <%= @accident.renshang_qingkuang %>
</p>

<p>
  <b>Pengzhuang buwei:</b>
  <%= @accident.pengzhuang_buwei %>
</p>

<p>
  <b>Chuxian jingguo:</b>
  <%= @accident.chuxian_jingguo %>
</p>

<p>
  <b>Chuli fangshi:</b>
  <%= @accident.chuli_fangshi %>
</p>


<%= link_to 'Edit', edit_case_accident_path(@accident) %> |
<%= link_to 'Back', case_accidents_path %>
