<div class="foot">
    <ul>
      <li>
        <ul class="inf">
          <h3><b>会员中心</b></h3>          
          <li> <%=link_to '免费注册', signup_path %> </li>
          <li><a href="/u">个人中心</a> </li>
          <div style="clear:both"></div>
        </ul>
      </li>
      <li>
        <ul class="inf">
          <h3><b>竞价</b></h3>
          <li> <%= link_to '竞价步骤',blog_category_path(1)%></li>
          <li><%= link_to '常见问题',blog_category_path(1)%></li>
          <li><%= link_to '费用说明',blog_category_path(1)%></li>
          <div style="clear:both"></div>
        </ul>
      </li>
      <li>
        <ul class="inf">
          <h3><b>服务项目</b></h3>
          <li><%= link_to '竞价车辆',auctions_path()%>  </li>
          <li><%= link_to '事故车辆',cars_path()%></li>
          <div style="clear:both"></div>
        </ul>
      </li>
      <li>
        <ul class="inf">
          <h3><b>售后服务</b> </h3>
          <li><%= link_to '服务承诺',blog_category_path(1)%></li>
          <li><%= link_to '投诉建议',blog_category_path(1)%></li>
          <div style="clear:both"></div>
        </ul>
      </li>
      <li>
        <ul class="inf1">
          <h3><b>大连华宸</b></h3>
          <li><%= link_to '关于我们',static_path(:about)%></li>
          <div style="clear:both"></div>
        </ul>
      </li>
      <div style="clear:both"></div>
    </ul>
  </div>