<div class="left_title">
  <div class="left_subtitle">保险公司业务处理</div>
  <div class="left_menu">
    <ul>
      <li class="left_submenu"><%= link_to '车辆发布',  new_car_accident_case_cars_path, :class=>"link1" %></li>
      <li class="left_submenu"><%= link_to '待评估车辆', list_case_cars_by_status_path( Car.statuses['wait_for_evaluate']), :class=>"link1" %>  </li>
      <li class="left_submenu"><%= link_to '待处理车辆', list_case_cars_by_status_path( Car.statuses['evaluated']), :class=>"link1" %>  </li>
      <li class="left_submenu"><%= link_to '委托车辆',  list_case_cars_by_status_path( Car.statuses['delegated']), :class=>"link1" %>  </li>
      <li class="left_submenu"><%= link_to '拍卖车辆',  list_case_cars_by_status_path( Car.statuses['auctioning']), :class=>"link1" %>  </li>
      <li class="left_submenu"><%= link_to '待提车辆',  list_case_cars_by_status_path( Car.statuses['wait_for_pick']), :class=>"link1" %>  </li>
      <li class="left_submenu"><%= link_to '过户车辆',  list_case_cars_by_status_path( Car.statuses['transferred']), :class=>"link1" %>  </li>
    </ul>
  </div>
</div>

<div class="left_title">
  <div class="left_subtitle">员工管理</div>
  <div>
    <ul>
      <li class="left_submenu"><%= link_to '添加部门', { :controller => "companies", :action => "new"}, :class=>"link1" %>  </li>
      <li class="left_submenu"><%= link_to '部门管理', { :controller => "companies", :action => "list"}, :class=>"link1" %>  </li>
      <li class="left_submenu"><%= link_to '添加员工',  {:controller => "users", :action => "new"}, :class=>"link1" %>  </li>
      <li class="left_submenu"><%= link_to '员工管理',  {:controller => "users", :action => "list"}, :class=>"link1" %>  </li>
    </ul>
  </div>
</div>

<div class="left_title">
  <div class="left_subtitle">个人设置</div>
  <div>

  </div>
</div>
