<ul class="superfish" >
  <% if !signed_in? %>
    <li><%= link_to '注册', signup_path, :method => :new %></li>
    <li class="signin"><%= link_to '登录', signin_path, :method => :new %></li>
  <% end %>
  <% if signed_in? %>
    <li><%= link_to '我的面板', user_path(current_user) %></li>
    <li><%= link_to '拍卖', panel_auctions_path %>
      <ul>
        <li><p>浏览</p>
          <ul>
            <li><%= link_to '正在进行', panel_auctions_path %></li>
            <li><%= raw link_to '取消', panel_auctions_path(:status => :canceled) %></li>
            <li><%= raw link_to '完成', panel_auctions_path(:status => :finished) %></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><%= link_to '私人消息', panel_messages_path %>
      <ul>
        <li><p>目录</p>
          <ul>
            <li><%= link_to '收件箱', panel_messages_path %></li>
            <li><%= link_to '发件箱', sent_panel_messages_path %></li>
          </ul>
        </li>
        <li><p>选项</p>
          <ul>
            <li><%= link_to '新的消息', new_panel_message_path %></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><%= link_to '投标', panel_offers_path %>
      <ul>
        <li><p>浏览</p>
          <ul>
            <li><%= raw link_to '参与竞标', panel_offers_path(:status => :active) %></li>
            <li><%= raw link_to '成功竞标', panel_offers_path(:status => :won) %></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><%= link_to '退出(' + current_user.to_s + ')', signout_path, :method => :delete %></li>
  <% end %>
</ul>
<%= javascript_tag do %>
  // initialise plugins
    jQuery(function(){
      jQuery('.superfish').superfish();
    });
<% end %>