<% blog_category = BlogCategory.find_by_short_name( "helps" ) %>

<ul class="main_menu">
  <li> <%=link_to "首页", root_path %> </li>
  <li> <%=link_to "拍卖厅", auctions_path %></li>
  <li> <%=link_to "事故车", cars_path %></li>
  <li><%=link_to "新手指南", blog_category_path(blog_category) %></li>
  <li><%=link_to "关于华晨", static_path(:about) %></li>
</ul>
