<%= form_for(@car, :url => update_accessory_admin_car_path ) do |car_form| %>
  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2><%= t(:other, :scope=> [ :errors, :template, :header],:count=>@car.errors.count,:model=>Car.model_title.human) %> </h2>

      <ul>
      <% @car.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table class='car_accident' border="1">
  <tr>   <td colspan="6" class="table_title"> 配件信息</td>
  </tr>

  <tr>
    <td class="thead" class="thead"><%= car_form.label :model_title,'配件名称' %> </td>
    <td><%= car_form.text_field :model_title,:class=>'span-3' %> </td>
    <td class="thead" class="thead" width="100px">适用车型 </td>
    <td colspan="3"><%=raw car_model_select(@car)%></td>
        
    
  </tr>
  <tr>
    <td class="thead" class="thead"><%= car_form.label :serial_no,'流水单号' %> </td>
    <td><%= car_form.text_field :serial_no,:class=>'span-3' %></td>
    <td class="thead" class="thead"><%= car_form.label :variator,'手/排' %> </td>
    <td><%= car_form.select :variator,Car::VARIATORS.to_a %> </td>
    <td class="thead"><%= car_form.label :registered_at,'初次登记日期' %> </td>
    <td><%= car_form.date_select :registered_at %> </td>
  </tr>
  <tr>
    <td class="thead"><%= car_form.label :plate_number,'车牌号' %> </td>
    <td><%= car_form.text_field :plate_number,:class=>'span-3' %>*</td>
    <td class="thead"><%= car_form.label :engine_number,'发动机号' %> </td>
    <td><%= car_form.text_field :engine_number,:class=>'span-3' %>* </td>
    <td class="thead"><%= car_form.label :frame_number,'车架钢印号' %> </td>
    <td><%= car_form.text_field :frame_number,:class=>'span-3' %>* </td>
  </tr>

  <tr><td colspan="6" class="table_title">配件图片信息</td></tr>
  <tr>
    <td class="thead">   配件图片  </td>
      <td  colspan="5">
        <div id="car_image_list">  
          <%= render :partial=>'car_file', :collection=>@car.car_images%>
        </div>
        <div class="clear">
          <%= render :partial=>"upload_file", :locals=>{:object=>@car.car_images.build, :field_name=>'uploaded'}%>  
        </div>
      </td>
  </tr>

  <tr>
    <td class="thead"> </td>
    <td colspan="5"> <%= car_form.submit '确认提交' %> </td>
  </tr>
</table>
 
<% end %>