  <div class="span-6">
    <table >
      <tr>
      	<td colspan="2" class="table_title">
      		个人信息 
      	</td>
      </tr>
      <tr>
        <td>昵称</td>
        <td><b><%= @user.login %></b></td>
      </tr>
      <tr>
        <td>真实姓名</td>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <td><%=User.human_attribute_name(:id_number)%></td>
        <td><%= @user.id_number %></td>
      </tr>
      <tr>
        <td>手机号码</td>
        <td> <%= @user.cellphone %> 
          <%if @user.vercode.blank? %>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <%= button_tag "手机验证",{:id=>"verify_cellphone_button",:type=>"button"}%>
          <%end%>
        </td>
      </tr>            
      <tr>
        <td>Email</td>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <td>所在地</td>
        <td><%= @user.address %></td>
      </tr>
      <tr>
        <td>注册日期</td>
        <td><%= escape_date(@user.created_at) %></td>
      </tr>
      <tr>
        <td>保证金</td>
        <td><%= @user.deposit %></td>
      </tr>
      <tr>
        <td>帐户状态</td>
        <td><%= @statuses[@user.status] %></td>
      </tr>
    </table>
    <% if current_user?(@user) %>
  		<%= link_to '编辑', edit_user_path(params[:id]) %>
  	<% end %>
  	<%= render 'watch_form' if signed_in? %>
    </div>
  <div class="prepend-0 span-6">
    <table class>
      	<tr>
        	<td colspan="2" class="table_title">
        		个人描述
        	</td>          
        </tr>
        <tr>
          <td style="vertical-align: top; border-right: 1px solid black;"><%= image_tag @user.avatar.url(:thumb) %></td>
          <td><%= simple_format(@user.description) -%></td>
        </tr>
    </table>
  </div>
<%if @user.vercode.blank? %>
<%= render :partial=>'vercode_dialog'%> 
<%end%>
