
<div class="wrapper">
<h2> 注册华晨网只需半分钟，竞拍事故车轻松方便</h2>
  <div class="prepend-1 append-1 ">
  <%= form_for [@user] do |f| -%>
  <%= render "layouts/error_messages", :target => @user %>
  <div class="field">
    <%= f.label :login,"登录帐号" %><br />
    <%= f.text_field :login, :class=>"span-6" %>
  </div>
  <div class="field">
    <%= f.label :name,"真实姓名" %><br />
    <%= f.text_field :name, :class=>"span-6" %>
  </div>
  <div class="field">
    <%= f.label :email,"电子邮箱" %><br />
    <%= f.text_field :email, :class=>"span-6" %>
    <%= hidden_field_tag(:ref, @referer) %>
  </div>
  <%= f.label :address, "所在地" %><br />
  <%= f.region_select [:province, :city, :region] %>
  <div class="field">
    <%= f.label :password,"登录密码" %><br />
    <%= f.password_field :password, :value => "", :class=>"span-6" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation,"确认密码" %><br />
    <%= f.password_field :password_confirmation, :class=>"span-6" %>
  </div>
  <div class="actions">
      <%= f.submit "注册" %>
    </div>
  <% end %>
  </div>
</div>