<% include_wysiwyg %>
<% content_for :title, "新讯息" %>
<div class="prepend-1 append-1">
  <%= form_for [@module, @message] do |f| %>

    <% unless @old_message.nil? %><%= hidden_field_tag :reply_message_id, @old_message.id %><% end %>
    <%= render "layouts/error_messages", :target => @message %>

    <p>
      <%= f.label :receiver_login %><br />
      <%= f.text_field :receiver_login %>
    </p>

    <p>
      <%= f.label :topic %><br />
      <%= f.text_field :topic, :class => "title span-18" %>
    </p>
    
    <p>
      <%= f.label :body %><br />
      <%= f.text_area :body, :class => "mceEditor span-18" %>
    </p>

    <p>
      <%= f.submit "发送" %>
    </p>
    <br />
  <% end %>
</div>
