<% include_wysiwyg %>
<% form_url = @user.new_record? ? case_users_path(@user) : case_user_path(@user) %>
<div class="">
          <%= form_for @user,:url=>form_url do |f| -%>
          <table>
              <tr><td>
                <%= f.label :company_id, "所属部门" %></td><td>
                <%= f.select :company_id, nested_set_options([current_user.company]) {|i| "#{'-' * i.level} #{i.name}" } %>
              </td></tr>
              <tr><td>
                <%= f.label :login, "登录名称" %></td><td>
                <%= f.text_field :login, :class=>"span-6" %>
              </td></tr>
              <tr><td>
                <%= f.label :name, "姓名" %></td><td>
                <%= f.text_field :name, :class=>"span-6" %>
              </td></tr>
              <tr><td>
                <%= f.label :email, "邮箱" %></td><td>
                <%= f.text_field :email, :class=>"span-6" %>
              </td></tr>
              <% if @user.new_record? %>
                  <tr><td>
                    <%= f.label :password, "密码" %></td><td>
                    <%= f.password_field :password, :value => "", :class=>"span-6" %>
                  </td></tr>
                  <tr><td>
                    <%= f.label :password_confirmation, "密码确认" %></td><td>
                    <%= f.password_field :password_confirmation, :class=>"span-6" %>
                  </td></tr>
              <% end %>
              <tr><td>
                <%= f.label :avatar,'头像' %></td><td>
                <%= f.file_field :avatar %>
              </td></tr>
              <tr><td>
                <%= f.label :description, '个人简介' %></td><td>
                <%= f.text_area :description, :class => "mceEditor span-10" %>
              </td></tr>
              <tr>
                <td></td><td><%= f.submit "保存" %></td>
              </tr>
              </table>
          <% end %>
</div>