<div class="center_title">员工列表</div>

<% unless @users.empty? %>
    <table class='car_accident'>
      <tr>
        <td>ID</td>
        <td>姓名</td>
        <td>昵称</td>
        <td>电子邮箱</td>
        <td>状态</td>
        <td>选项</td>
      </tr>
      <tbody>
      <%  @users.delete_at(0) %>
      <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.lastname %> <%= user.name %></td>
            <td><%= user.login %></td>
            <td><%= user.email %></td>
            <td><% if user.status == 0 %>停用<% elsif user.status == 1 %>未验证<% elsif user.status == 2 %>已验证<% else %>禁止<% end %></td>
            <td>
              <%= link_to "编辑个人资料", edit_case_user_path(user) %><br />
              <% if user.status == 2 %>
                  <%= link_to "禁止", case_user_path(user, :status => 3), :method => "delete", :confirm => t('general.confirm') %>
              <% elsif user.status == 1  %>
                  <%= link_to "禁止", case_user_path(user, :status => 3), :method => "delete", :confirm => t('general.confirm') %><br />
                  <%= link_to "验证", case_user_path(user, :status => 2), :method => "delete", :confirm => t('general.confirm') %>
              <% elsif user.status == 0 %>
                  <%= link_to "激活", case_user_path(user, :status => 2), :method => "delete", :confirm => t('general.confirm') %>
              <% else %>
                  <%= link_to "解除禁止", case_user_path(user, :status => 2), :method => "delete", :confirm => t('general.confirm') %>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <%= will_paginate @users %>
<% else %>
    <div class="clear notice">There are no users.</div>
<% end %>