<% unless @auctions.empty? %>
  <table class="list">
    <thead>
      <tr>
        <td>拍卖车辆</td>
        <td>起拍价</td>
        <td>开始时间</td>
        <td>状态</td>
        <td>结束时间</td>
        <td>选项</td>
      </tr>
    </thead>
    <tbody>
      <% @auctions.each do |auction| %>
        <tr>
          <td><%= link_to image_tag(auction.car.car_images.first.uploaded.url(:thumb)), auction %>
            <br />
            <% if auction.status?(:finished) && auction.won_offer_exists? %>
              <%= o = auction.won_offer %>
            <% end %>
          </td>
          <td style="font-weight: bold"><%= auction.starting_price %>元</td>
          <td><%=raw escape_time(auction.start_at) %></td>
          <td><%= escape_auction_status(auction) %></td>
          <td>
              <%=raw escape_time(auction.expired_at)%>            
          </td>
          <td>
            <%= link_to '详细', auction_path(auction) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate %>
<% else %>
  <div class="notice">没有符合条件的数据.</div>
<% end %>