<div >
  <h2>事故车</h2>
<table class="car-list">
	<tr >
		<th class="bold">车辆图片</th><th class="bold">车辆简介</th><th class="bold">来源</th><th class="bold">竞价时间</th><th class="bold">当前价</th>
	</tr>
  	<% @cars.each do |car| %>
	        <tr>
	          <td> 
	            <%if car.car_images.present? %>
  	            <%if car.auction.present? %>
  	            <%= link_to car_image_tag(car), auction_path(car.auction) %></td>
  	            <% end %>
	            <% end %>
	          <td><%= render :partial=>"brief", :locals=>{:car=>car} %></td>
	          <td> <%= car.try(:publisher).try(:company).try(:name) %></td>
	          <td>
	            <% if car.try(:auction).try(:start_at) %>
	              <%= escape_time(car.auction.start_at) %>
	            <% end %>
	          </td>
	          <td><%= car.auction.starting_price if car.auction.present?%></td>
	        </tr>
	 <% end %>
</table>
</div>
	 <%= will_paginate @cars %>
