<%
#拍卖公示开始时间
#拍卖公示结束时间
#拍卖地点
#拍卖开始时间
#拍卖结束时间
#拍卖形式
#是否流拍
#流拍次数
#接受委托时间
#是否完成过户
#要求过户时间
#实际过户时间
#拍卖成交价
#出价次数

@auction = @car.auction
%>
<% if @car.auctioning? && @auction.closed? %>

  <div id="auction_feedback_dialog" title="拍卖结果">
    <%= form_for(@car, :url => feedback_auction_case_car_path(@car),:html=>{:id=>'auction_feedback_form'}, :remote=>true ) do |car_form| %>
      <table class='car_accident'>
        <%= car_form.fields_for :auction, @auction do |auction_form| %>
        <%= auction_form.hidden_field :type_name,:value=>'2' %>
        <%= auction_form.hidden_field :location,:value=>'网络' %>
          <tr class="aution_info">
            <td colspan="6" class="table_title">拍卖信息</td>
          </tr>
          <tr class="aution_info">
            <td>拍卖公示开始时间</td>
            <td><%= @auction.public_start_at.to_s(:db) if @auction.public_start_at%></td>
            <td>拍卖公示结束时间</td>
            <td><%= @auction.public_expired_at.to_s(:db) if @auction.public_expired_at %></td>
            <td>接受委托时间</td>
            <td><%= @auction.commissioned_time.to_s(:db) if @auction.commissioned_time %></td>
          </tr>
          <tr class="aution_info">
            <td>拍卖开始时间</td>
            <td><%= @auction.start_at.to_s(:db) %></td>
            <td>拍卖结束时间</td>
            <td><%= @auction.expired_at.to_s(:db) %></td>
            <td> </td><td> </td>
          </tr>

          <tr class="aution_info">
              <td>拍卖成交价 </td>
              <td><%= @auction.bidding_price %></td>
              <td>出价次数</td>
              <td><%= @auction.offers.count %></td>
            <td>是否流拍/流拍次数</td>
            <td><%= @auction.pass_times %></td>
          </tr>

          <tr class="aution_info">
            <td>是否完成过户 </td>
            <td><%= auction_form.select :transfer_complete, [['否',0],['是',1]], selected: 0 %></td>
            <td>要求过户时间</td>
            <td><%= auction_form.date_select :transfer_request_time %></td>
            <td>实际过户时间</td>
            <td><%= auction_form.date_select :transfer_real_time %></td>
          </tr>

        <%end%>

      </table>
    <%end%>
  </div>

<%= javascript_tag do %>
      $(function() {
        $( "#auction_feedback_dialog" ).dialog({
          autoOpen: false,
          width:800,
          modal: true,
          buttons: {
            "提交": function() {
               $( "#auction_feedback_form" ).submit();
            },
            "取消": function() {
              $( this ).dialog( "close" );
            }
          },
          close: function() {
          }
        });
      $( "#auction_feedback_button" )
          .click(function() {
            $( "#auction_feedback_dialog" ).dialog( "open" );
          });
      });
  <%end %>
<%end %>
