<%
   @accident = @car.new_record? ? @car.build_accident : @car.accident
   @auction = @car.new_record? ? @car.build_auction : (@car.auction ?  @car.auction : @car.build_auction)
%>

<% form_url = @car.new_record? ? case_cars_path(@car) : case_car_path(@car) %>

<%= form_for(@car, :url => form_url ) do |car_form| %>
  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2><%= t(:other, :scope=> [ :errors, :template, :header],:count=>@car.errors.count,:model=>Car.model_name.human) %> </h2>

      <ul>
      <% @car.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table class='car_accident' border="1">
  <tr>   <td colspan="6" class="table_title"> 车辆信息</td>
  </tr>

  <tr>
    <td class="thead" class="thead" width="100px">选择车型 </td>
    <td colspan="3"><%=raw car_model_select(@car)%></td>
        
    
    <td class="thead" class="thead"><%= car_form.label :model_name,'特殊车型' %> </td>
    <td><%= car_form.text_field :model_name,:class=>'span-3' %> </td>
  </tr>
  <tr>
    <td class="thead" class="thead"><%= car_form.label :serial_no,'流水单号' %> </td>
    <td><%= car_form.text_field :serial_no,:class=>'span-3' %></td>
    <td class="thead" class="thead"><%= car_form.label :variator,'手/排' %> </td>
    <td><%= car_form.select :variator,Car::VARIATORS.to_a %> </td>
    <td class="thead"><%= car_form.label :registered_at,'初次登记日期' %> </td>
    <td><%= car_form.date_select :registered_at %> </td>
  </tr>
  <tr style="display: none;">
    <td class="thead"><%= car_form.label :plate_number,'车牌号' %> </td>
    <td><%= car_form.text_field :plate_number,:class=>'span-3' %>*</td>
    <td class="thead"><%= car_form.label :engine_number,'发动机号' %> </td>
    <td><%= car_form.text_field :engine_number,:class=>'span-3' %>* </td>
    <td class="thead"><%= car_form.label :frame_number,'车架钢印号' %> </td>
    <td><%= car_form.text_field :frame_number,:class=>'span-3' %>* </td>
  </tr>

  <%= car_form.fields_for :accident, @accident do |accident_form| %>
  <tr>   <td colspan="6" class="table_title"> 车辆出险信息</td>   </tr>
  <tr>
    <td class="thead"><%= accident_form.label :sunshi_leixing,'损失类型' %> </td>
    <td><%= accident_form.select :sunshi_leixing,[['A损失类型',0],['b损失类型',1],['c损失类型',2]]  %></td>
    <td class="thead"><%= accident_form.label :chuxian_riqi,'出险日期' %> </td>
    <td><%= accident_form.date_select :chuxian_riqi %> </td>
    <td class="thead"><%= accident_form.label :shifou_caijian,'是否拆检' %> </td>
    <td><%= accident_form.select :shifou_caijian,[['完全拆检',0],['未拆检',1]]  %> </td>
  </tr>
  <tr>
    <td class="thead"><%= accident_form.label :tingche_address,'停车地点' %> </td>
    <td colspan="3">
      <% if @accident.new_record? %>
        <%= accident_form.region_select [:tingche_province, :tingche_city] %> <br/>
      <% else %>
        <%= accident_form.region_select [:tingche_province, :tingche_city],{:selected=>[@accident.tingche_province_id,@accident.tingche_city_id]} %> <br/>
      <% end %>
      <%= accident_form.text_field :tingche_more %> 街道
    </td>
    <td class="thead"><%= accident_form.label :chejiaohao_sousun,'车架号是否受损' %> </td>
    <td><%= accident_form.select :chejiaohao_sousun,[['是',0],['否',1]] %> </td>
  </tr>
  <tr>
    <td class="thead"><%= accident_form.label :zeren_rending,'责任认定' %> </td>
    <td><%= accident_form.select :zeren_rending,[['多方事故',0],['对方事故',1]] %> </td>
    
    <td class="thead"><%= accident_form.label :duifang_baoxian,'对方保险公司' %> </td>
    <td><%= accident_form.text_field :duifang_baoxian,:class=>'span-3' %><br/>(适用双方事故) </td>
    <td class="thead"><%= accident_form.label :renshang_qingkuang,'人伤情况' %> </td>
    <td><%= accident_form.select :renshang_qingkuang,[['无伤亡',0],['车主死亡',1],['车主轻伤',2]] %> </td>
  </tr>
  <tr>
    <td class="thead"><%= accident_form.label :pengzhuang_buwei,'碰撞部位' %> </td>
    <td colspan="5">
      <table>
          <% Accident::POSITIONS.to_a.each{|key_val| %>
            <% if key_val[1]%6==1 %> <tr> <% end %>
            <td>             
    <%= accident_form.check_box :pengzhuang_buwei, {:name=>"accident_car[accident_attributes][pengzhuang_buwei][]"}, key_val[1].to_s %>
    <%= key_val[0] %>
            </td>
            <% if key_val[1]==6 or key_val[1]==12 or key_val[1]==14%> </tr> <% end %>
          <% } %>  
      </table>
      
      </td>
  </tr>  
  <tr>
    <td class="thead"><%= accident_form.label :chuxian_jingguo,'出险经过' %> </td>
    <td colspan="5"><%= accident_form.text_area :chuxian_jingguo, :size => "80x3",:style=>"width:auto;height:auto;" %> </td>
  </tr> 
  <tr><td colspan="6" class="table_title">价值信息</td></tr>
  <tr>
    <td class="thead"><%= car_form.label :chengbao_jine,'车保金额' %> </td>
    <td><%= car_form.text_field :chengbao_jine,:class=>'span-3' %>元* </td>
    <td class="thead"><%= accident_form.label :gusun_jine,'估损金额' %> </td>
    <td><%= car_form.text_field :gusun_jine,:class=>'span-3' %>元* </td>
    <td class="thead"><%= accident_form.label :shiji_jiazhi,'实际价值' %> </td>
    <td><%= car_form.text_field :shiji_jiazhi,:class=>'span-3' %>元* </td>
    
  </tr> 
  <% end %>  
  <tr><td colspan="6" class="table_title">车辆图片信息</td></tr>
  <tr>
    <td class="thead">  行驶证图片  </td>
    <td colspan="5">
        <div id="car_license_image_list">  
          <%= render :partial=>'car_file', :collection=>@car.car_license_images%>
        </div>
        <div class="clear">
          <%= render :partial=>"upload_file", :locals=>{:object=>@car.car_license_images.build, :field_name=>'uploaded'}%>  
        </div>
    </td>
  </tr> 

  <tr>
    <td class="thead">   车架号图片  </td>
    <td colspan="5">
        <div id="car_frame_image_list">  
          <%= render :partial=>'car_file', :collection=>@car.car_frame_images%>
        </div>
        <div class="clear">
          <%= render :partial=>"upload_file", :locals=>{:object=>@car.car_frame_images.build, :field_name=>'uploaded'}%>  
        </div>
    </td>
  </tr>

  <tr>
    <td class="thead">   车辆损失图片  </td>
      <td  colspan="5">
        <div id="car_image_list">  
          <%= render :partial=>'car_file', :collection=>@car.car_images%>
        </div>
        <div class="clear">
          <%= render :partial=>"upload_file", :locals=>{:object=>@car.car_images.build, :field_name=>'uploaded'}%>  
        </div>
      </td>
  </tr>

  <tr>  
    <td class="thead">  选择车辆处理方式  </td>
      <td  colspan="5">     
         <%= car_form.radio_button :status,'2',:onclick=>"$('#auction_part').show()" %><%=car_form.label :status,"委托拍卖",:value=>2%> &nbsp;
         <%= car_form.radio_button :status,'0',:onclick=>"$('#auction_part').hide()" %><%=car_form.label :status,"询问底价",:value=>0%>
      </td>
  </tr>
</table>

<div id="auction_part" <%if @car.status.to_i == 2 %><%else%>style="display:none;"<%end%>>
  <%= render :partial=>"auction_form", :locals => { :car_form => car_form} %>
</div>

<table>
  <tr>
    <td class="thead"> </td>
    <td colspan="5"> <%= car_form.submit '确认提交' %> </td>
  </tr>
</table>


  
<% end %>