<% if @car.delegated? %>
<% car = @car
   dialog_container_id = "confirm_auction_dialog"
   dialog_form_id = "confirm_auction_form"
%>
<div id="<%=dialog_container_id%>"title="确认车辆<%=car.name%>拍卖时间">
  <%= form_for(car, :url => confirm_auction_case_car_path(car),:html=>{:id=>dialog_form_id}, :remote=>true ) do |car_form| %>
    <%= car_form.fields_for :auction, car.auction do |auction_form| %>
    <table>
      <tr class="aution_info">
        <td colspan="6" class="table_title">费用信息</td>
      </tr>
      <tr class="aution_info">
        <td><%= auction_form.label :starting_price, '拍卖底价' %></td>
        <td><%= auction_form.text_field :starting_price,:class=>'span-3',:readonly=>true %></td>
        <td><%= auction_form.label :reserve_price, '保留价' %></td>
        <td><%= auction_form.text_field :reserve_price,:class=>'span-3',:readonly=>true %></td>
        <td><%= auction_form.label :price_increment, '加价额度' %></td>
        <td><%= auction_form.text_field :price_increment,:class=>'span-3',:readonly=>true %></td>
      </tr>
      <tr class="aution_info">
        <td>拍卖时间要求</td>
        <td colspan="5">
         <%# some seed have no expected_start_at
         %>
          <% if car.auction.expected_start_at.present? %>
          <%= car.auction.expected_start_at.to_date %> 至 <%= car.auction.expected_expired_at.to_date %>
          <% end %>
        </td>
      </tr>
      <tr class="aution_info">
        <td>车辆公示时间设置</td>
        <td colspan="5">
          <%= auction_form.date_select :public_start_at %> 至
          <%= auction_form.date_select :public_expired_at %>
        </td>
      </tr>
      <tr class="aution_info">
        <td>拍卖时间设置</td>
        <td colspan="5">
          <%= auction_form.datetime_select :start_at, :default=> (car.auction.open? ? car.auction.start_at : Time.now)  %>  至
          <%= auction_form.datetime_select :expired_at, :default=>(car.auction.open? ? car.auction.expired_at : 30.minute.from_now) %>
        </td>
      </tr>

    </table>
    <% end%>
  <%end%>
    <%= javascript_tag do %>
      $(function() {
        $( "#<%=dialog_container_id%>" ).dialog({
          autoOpen: false,
          width:800,
          modal: true,
          buttons: {
            "提交": function() {
               $( "#<%=dialog_form_id%>" ).submit();
            },
            "取消": function() {
              $( this ).dialog( "close" );
            }
          },
          close: function() {
          }
        });
      $( "#confirm_auction_button" )
          .click(function() {
            $( "#<%=dialog_container_id%>" ).dialog( "open" );
          });
      });
    <%end %>
</div>
<%end %>
