<% @car.build_auction %>
<% status = @confirm == 1 ? '2' : '5' %>
<% word = @confirm == 1 ? "委托拍卖" : "放弃委托拍卖" %>
<div class="popup_title">
  设置车辆 <%=@car.name  %> <%=word  %>
  <%= link_to 'X', '#', :style=>"position:absolute;right:0px;", :onclick=>"$('#show_auction').hide();" %>
</div>
<div class="center_title">事故车-<%=word  %></div>

<%= form_for(@car, :url => case_car_path(@car) ) do |car_form| %>
  <%= car_form.hidden_field :status,:value=>status %>
  <%if @confirm == 1%>
    <%= render :partial=>"auction_form", :locals => { :car_form => car_form} %>
  <%else%>
    <%= car_form.label :giveup_auction_reason, '放弃原因' %><%= car_form.text_area :giveup_auction_reason, :size => "70x3" %>
  <%end%>
  <%= car_form.submit '确认提交' %>
<%end%>