<%
 # locals: object, filed_name
 element_id = "fu#{object.object_id}"
 object_name = object.class.name.underscore 
%>

<%= file_field object_name, field_name, :id=>element_id, :data=>{:url=>upload_file_case_cars_path()},:method=>'put' %>
<%= hidden_field object_name, :car_id, :value=>object.car_id.to_i%>
<script id="template-upload" type="text/x-tmpl">
<div id="car_file_{%= o.id%}" class="image_container">
  <a href="/case/cars/delete_file?file_id={%=o.id%}" class="image_delete_button" data-method="delete" data-remote="true" rel="nofollow">X</a>  
  <img alt="{%= o.name %}" src="{%= o.thumb_url %}">
  <% if object.car_id.to_i==0 %>
  <input name=car[<%=object_name%>_ids][] type='hidden', value="{%=o.id%}">
  <% end %>
</div>
</script>
<%= javascript_tag do %>

$(function () {
    $('#<%=element_id%>').fileupload({
        dataType: 'json',
        done: function (e, data) {
            $.each(data.result.files, function (index, file) {
                $('#<%=object_name%>_list').append(tmpl("template-upload", file));
            });
        }
    });
});

<% end %>
