<div class="center_title">事故车-<%= Car::CARPROCESS[@process_method.to_s] %>列表</div>
<div id="car_list_search">
    <%= form_tag( "/case/cars/search" ) do  %>
        <% if current_user.administrator? or current_user.evaluator? %>
            <% insurance_companies_array = Company.insurance_companies.map { |company| [company.name, company.id] } %>
            <%= select_tag(:insurance_id, options_for_select([["全部保险公司",0]]+insurance_companies_array)) %>
        <%end%>

        <%= label_tag(:serial_no, "流水号：") %>
        <%= text_field_tag(:serial_no) %>
        <%= label_tag(:model_name, "车型：") %>
        <%= text_field_tag(:model_name) %>
        <%= hidden_field_tag(:process_method, @process_method) %>
        <%= submit_tag("搜索") %>
    <%end%>
</div>

<table class='car_accident'>

    <% if @cars.size > 0%>
      <tr class="table_title" >
        <td class="table_title" > 流水号</td>
        <td cl="font-size:15px;"> 车型</td>
        <td class="table_title" > 发布机构</td>
        <td class="table_title" > 保险公司负责人</td>
        <td class="table_title" > 华晨负责人</td>
        <td class="table_title" > 处理方</td>
        <% if @process_method == "2" %><td class="table_title" > 处理状态</td><%end%>
        <td class="table_title" > 发生时效</td>
        <td class="table_title" > </td>
      </tr>
      <%@cars.each{|car|%>
          <tr>
            <td> <%= car.serial_no %></td>
            <td> <%= car.name %></td>
            <td> <%= car.publish_agency %></td>
            <td> <%= car.insurance_responsible_person %></td>
            <td> <%= car.evaluating_responsible_person %></td>
            <td> <%= car.publisher.company.name %></td>
            <% if @process_method == "2" %><td> <%= car.status %></td><%end%>
            <td> <%= car.limitation %></td>
            <td> <%=link_to '详情', case_car_url(car) %> |
            <%=link_to '编辑', edit_case_car_url(car) %></td>
          </tr>
      <%}%>
    <%else%>
       <tr><td> 没有符合条件的车辆</td></tr>
    <%end%>
</table>
