<h1>Listing cars</h1>

<table>
  <tr>
    <th>Model</th>
    <th>Model name</th>
    <th>Serial no</th>
    <th>Registered at</th>
    <th>Variator</th>
    <th>Plate number</th>
    <th>Engine number</th>
    <th>Frame number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cars.each do |car| %>
  <tr>
    <td><%= car.model_id %></td>
    <td><%= car.model_name %></td>
    <td><%= car.serial_no %></td>
    <td><%= car.registered_at %></td>
    <td><%= car.variator %></td>
    <td><%= car.plate_number %></td>
    <td><%= car.engine_number %></td>
    <td><%= car.frame_number %></td>
    <td><%= link_to 'Show', case_car_path(car) %></td>
    <td><%= link_to 'Edit', edit_case_car_path(car) %></td>
    <td><%= link_to 'Destroy', case_car_path(car), method: :delete,  confirm: 'Are you sure?'  %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Car', new_case_car_path %>
