<div class="center_title">事故车-车辆详细信息</div>
<% car = @car %>
<% accident = car.accidents[0] %>
<% auction = car.auction %>
<table class='car_accident'>
  <tr>   <th colspan="8" class="table_title"> 车辆信息</th>
  </tr>
  <tr>
    <th width="100px">车型 </th>
    <td colspan="7"><%= car.model_name %> </td>
  </tr>
  <tr>
    <th>流水单号 </th>
    <td><%= car.serial_no %></td>
    <th>手/排 </th>
    <td><%= car.variator_name %> </td>
    <th>初次登记日期 </th>
    <td colspan="3"><%= car.registered_at %> </td>
  </tr>
  <tr>
    <th>车牌号 </th>
    <td><%= car.plate_number %></td>
    <th>发动机号 </th>
    <td><%= car.engine_number %> </td>
    <th>车架钢印号 </th>
    <td colspan="3"><%= car.frame_number %> </td>
  </tr>
  <tr>   <th colspan="8" class="table_title"> 车辆出险信息</th>   </tr>
  <tr>
    <th>损失类型 </th>
    <td><%= accident.lost_type %></td>
    <th>出险日期 </th>
    <td><%= accident.chuxian_riqi %> </td>
    <th>是否拆检 </th>
    <td colspan="3"><%= accident.inspection %> </td>
  </tr>
  <tr>
    <th>停车地点 </th>
    <td colspan="3"><%= accident.stop_location %></td>
    <th>车架号是否受损 </th>
    <td colspan="3"><%= accident.frame_number_lost %> </td>
  </tr>
  <tr>
    <th>责任认定 </th>
    <td><%= accident.responsibility_cognizance %> </td>

    <th>对方保险公司 </th>
    <td><%= accident.duifang_baoxian %><br/>(适用双方事故) </td>
    <th>人伤情况 </th>
    <td colspan="3"><%= accident.injure_condition %> </td>
  </tr>
  <tr>
    <th>碰撞部位 </th>
    <td colspan="7"><%= accident.hit_position %></td>
  </tr>
  <tr>
    <th>出险经过 </th>
    <td colspan="7"><%= accident.chuxian_jingguo %> </td>
  </tr>

  <tr><th colspan="8" class="table_title">车辆图片信息</th></tr>
  <tr>
    <th colspan="8">  行驶证  </th>
  </tr>
  <tr>
    <td colspan="8">
      <% car.license_files.each do |license_file| %>
          <%= image_tag license_file.image_path,:alt=>license_file.name %>
      <%end%>
    </td>
  </tr>
  <tr>
    <th colspan="8">   车架号  </th>
  </tr>
  <tr>
    <td colspan="8">
      <% car.frame_files.each do |frame_file|  %>
          <%= image_tag frame_file.image_path,:alt=>frame_file.name %>
      <%end%>
    </td>
  </tr>

  <tr>
    <th colspan="8">   车辆损失图片展示  </th>
  </tr>
  <tr>
    <td colspan="8">
      <% car.accident_files.each do |accident_file| %>
          <%= image_tag accident_file.image_path,:alt=>accident_file.name %>
      <%end%>
    </td>
  </tr>
  <tr>
    <th colspan="8" class="table_title">  价值信息  </th>
  </tr>
  <tr>
    <th>承保金额 </th>
    <td><%= accident.chengbao_jine %>元 </td>
    <th>估损金额 </th>
    <td><%= accident.gusun_jine %>元 </td>
    <th>实际价值 </th>
    <td><%= car.actual_value %>元 </td>
    <th>残值价值 </th>
    <td><%= car.salvage_value %>元 </td>
  </tr>
  <tr>
    <th>二手车价值 </th>
    <td><%= car.secondhand_car_value %>元 </td>
    <th>中标金额 </th>
    <td><%= car.get_bidding_price %>元 </td>
    <th>最终赔付金额 </th>
    <td><%= car.final_compensate_price %>元 </td>
    <th> </th>
    <td> </td>
  </tr>

<% if car.status == 2 %>
  <tr>
    <th colspan="8" class="table_title">  委托拍卖处理  </th>
  </tr>
  <tr>
    <td colspan="8">  </td>
  </tr>
  <tr>
    <th colspan="8" class="table_title">  费用信息  </th>
  </tr>
    <tr>
      <td colspan="8">  </td>
    </tr>
  <tr>
    <th colspan="8" class="table_title">  拍卖信息  </th>
  </tr>
  <tr>
    <th>中标价 </th>
    <td><%= car.get_bidding_price %>元 </td>
    <th>保留价 </th>
    <td><%= auction.reserve_price %>元 </td>
    <th>结果 </th>
    <td><%= auction.bidding_result %> </td>
    <th> </th>
    <td> </td>
  </tr>
  <tr>
    <th>用户名 </th>
    <td><%=auction.won_offer.offerer.name if auction.won_offer %> </td>
    <th>真实姓名 </th>
    <td><%=auction.won_offer.offerer.name if auction.won_offer %> </td>
    <th>身份证号 </th>
    <td><%=  %> </td>
    <th> 联系电话</th>
    <td><%=auction.won_offer.offerer.cellphone if auction.won_offer %> </td>
  </tr>
<%end%>

  <tr>
    <th colspan="8" class="table_title">  附件查看  </th>
  </tr>
<tr>
  <td colspan="8">
    <% car.attachment_files.each do |attachment_file| %>
        <%= image_tag attachment_file.image_path,:alt=>attachment_file.name %>
    <%end%>
  </td>
</tr>
<tr>
  <th colspan="8" class="table_title">  沟通记录  </th>
</tr>
<tr>
  <td colspan="8">  无  </td>
</tr>

  <tr>
    <th colspan="8" class="table_title">  操作按钮  </th>
  </tr>
  <tr>
    <td>
      点击沟通
    </td>
    <td>
      <%=link_to "返回" %>
    </td>
    <td>
      转移负责人
    </td>
    <td>
      催促回复
    </td>
    <td>
      <% if car.status == 0 or car.status == 1 %>
          <%=link_to "委托拍卖", {:controller=>"cars", :action=>"show_auction", :car_id=>car.id, :confirm => 1 }, :remote => true %>
      <% elsif car.status == 2 %>
          <%=link_to "提车确认", {:controller=>"cars", :action=>"show_pickup_car", :car_id=>car.id, :confirm => 1 }, :remote => true  %>
      <%elsif car.status == 3%>
          <%=link_to "过户确认"  %>
      <%end%>
    </td>
    <td>
      <% if car.status == 0 or car.status == 1 %>
          <%=link_to "不委托拍卖", {:controller=>"cars", :action=>"show_auction", :car_id=>car.id, :confirm => 0 }, :remote => true %>
      <% elsif car.status == 2 %>
          <%=link_to "不能提车", {:controller=>"cars", :action=>"show_pickup_car", :car_id=>car.id, :confirm => 0 }, :remote => true %>
      <%elsif car.status == 3 %>
          <%=link_to "不能过户"  %>
      <%end%>
    </td>
    <td>
      <%=link_to "上传附件" %>
    </td>
  </tr>
  <tr>
    <th colspan="8" class="table_title">  当前状态  </th>
  </tr>
  <tr>
    <th>当前处理人 </th>
    <td  colspan="7">保险公司 </td>
  </tr>
  <tr>
    <th>业务负责人 </th>
    <td  colspan="7">保险公司负责人：保险公司  商务负责人：华晨  客服负责人：华晨 </td>
  </tr>

</table>
<div id="show_auction" class="popup">
</div>
<div id="show_pickup_car" class="popup">
</div>
