<% include_wysiwyg %>
<div class="left prepend-1">
<%= form_for @blogpost, :url=>{:action=>:blogpostnew2 } do |f| -%>
  <%= render "layouts/error_messages", :target => @blogpost %>
  <div class="field">
  	<%= f.label "标题" %><br />
    <%= f.text_field :title, :class => 'span-10' %>
  </div>
  <div class="field">
    <%= f.label "category" %><br />
    <%= f.select :category_id, BlogCategory.leaves.collect{|category| [ category.name, category.id ]} %>
  </div>
  <div class="field">
    <%= f.label "内容" %><br />
    <%= f.text_area :content, :class => 'span-10' %>
  </div>
  <div class="field">
  <%= f.label :recaptcha, "验证码" %><br />
  <%= raw(get_captcha(:options => {:theme => 'white', :tabindex => 10})) %>
</div>
  <div class="actions">
    <%= f.submit "保存" %>
  </div>
  </div>
<% end %>