<% include_wysiwyg %>
<div class="prepend-1 append-1 last">
  <table >
  <%= form_for [:admin, @useradmin], :html => { :multipart => true } do |f| -%>
  <%= render "layouts/error_messages", :target => @useradmin %>
    <tr><td colspan="2" class="">
    编辑用户信息</td>
    </tr>
      <tr><td>
        <%= f.label :name %></td><td>
        <%= f.text_field :name, :value => @useradmin.name.force_encoding("UTF-8"), :class=>"span-6" %>
      </td></tr>
      <tr><td>
        <%= f.label :cellphone,"手机" %></td><td>
        <%= f.text_field :cellphone, :class=>"span-6" %>
      </td></tr>
      <tr><td>
        <%= f.label :email %></td><td>
        <%= f.text_field :email, :value => @useradmin.email.force_encoding("UTF-8"), :class=>"span-6" %>
      </td></tr>
      <tr><td>
      <%= f.label :deposit, "保证金" %></td><td>
      <%= f.text_field :deposit %>
      </td></tr>
      <tr><td>
      <%= f.label :avatar, '头像' %></td><td>
      <%= f.file_field :avatar %>
      </td></tr>
      <tr><td>
        <%= f.label :description, "个人简介" %></td><td>
        <%= f.text_area :description, :value => @useradmin.description.force_encoding("UTF-8"), :class => "mceEditor span-10" %>
      </td></tr>
      <tr> <td></td> <td><%= f.submit "保存" %></td> </tr>
  
  <% end %>
  </table>

  <table>
    <thead> <tr>  <td colspan="2" >  设置一个新的密码  </td>  </tr></thead>
  	<%= form_for [:admin, @useradmin] do |f| -%>
  	<tr><td>
    		<%= f.label :password %></td><td>
    		<%= f.password_field :password, :value => "", :class=>"span-6" %>
  	</td></tr>
  	<tr><td>
    		<%= f.label :password_confirmation %></td><td>
    		<%= f.password_field :password_confirmation, :class=>"span-6" %>
  	</td></tr>
  	<tr><td></td><td>	<%= f.submit "保存" %> </td></tr>
  	<% end %>
  </table>
</div>
