<% include_wysiwyg %>
<% user = User.new %>
<% company = Company.new %>
<div class="prepend-1 last append-1">
    <table >
          <%= form_for [:admin, user], :html => { :multipart => true } do |f| -%>
              <tr><td>
                <%= f.label :login %></td><td>
                <%= f.text_field :login, :class=>"span-6" %>
              </td></tr>
              <tr><td>
                <%= f.label :name %></td><td>
                <%= f.text_field :name, :class=>"span-6" %>
              </td></tr>
              <tr><td>
                <%= f.label :cellphone,'手机' %></td><td>
                <%= f.text_field :cellphone,  :class=>"span-6" %>
              </td></tr>
              <tr><td>
                <%= f.label :email %></td><td>
                <%= f.text_field :email, :class=>"span-6" %>
              </td></tr>
              <tr><td>
                <%= f.label :password %></td><td>
                <%= f.password_field :password, :value => "", :class=>"span-6" %>
              </td></tr>
              <tr><td>
                <%= f.label :password_confirmation %></td><td>
                <%= f.password_field :password_confirmation, :class=>"span-6" %>
              </td></tr>
              <tr><td>
                <%= f.label :deposit, "保证金" %></td><td>
                <%= f.text_field :deposit %>
              </td></tr>
              <tr><td>
                <%= f.label :avatar, "头像" %></td><td>
                <%= f.file_field :avatar %>
              </td></tr>
              <%= f.fields_for :company, :html => { :multipart => true } do |cf| -%>
              <tr><td>
                <%= cf.label :company_type, "用户类型" %></td><td>
                <%= cf.radio_button(:company_type, '') %>
                <%= cf.label(:company_type, "一般用户") %>
                <%= cf.radio_button(:company_type, 'insurance') %>
                <%= cf.label(:company_type, "保险公司") %>
                <%= cf.radio_button(:company_type, 'evaluator') %>
                <%= cf.label(:company_type, "评估公司") %>
              </td></tr>
              <tr><td>
                <%= cf.label :name, "公司名称" %></td><td>
                <%= cf.text_field :name %>
              </td></tr>
              <tr><td>
                <%= cf.label :description,"公司简介" %></td><td>
                <%= cf.text_area :description, :class => "mceEditor span-10" %>
              </td></tr>
              <% end %>
              <tr><td></td><td>   <%= f.submit "保存" %></td>
              </tr>
          <% end %>

    </table>
</div>