<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">
    <title><%= @title || yield(:title) %> <%= @global_title %></title>
<%= stylesheet_link_tag 'backend', :media => 'screen' %>
<!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
<!--[if IE 7]> <%= stylesheet_link_tag 'ie7' %>   <![endif]-->
<!--[if lte IE 6]>
  <%= stylesheet_link_tag 'ie6case' %>
<![endif]-->
    <%= javascript_include_tag 'backend' %>
    <%= csrf_meta_tag %>
    <%= yield :head %>
  </head>
  <body>
    <div id="page" class="" >

      <div id="header">
        <div class="inner" >
          <dir class='fl'>
            <%= image_tag "case/logo.gif",:alt=>'华宸保险事故车处理系统'%>
          </dir>
          <div class="fr">
           <%= link_to "退出", signout_path, :style=>"position:absolute;right:5px;"%>
           <br/>
           <br/>
           <br/>
           <span style="color:#6D6E71;">
           操作员：<%= current_user.name %> 所属公司：<%= current_user.company_name %> 职位：<%= current_user.role %>
           </span>
          </div>
        </div>

      </div>
        <div id="lftnav">
          <%=render :partial=>'layouts/top_menu/case_nav' %>
        </div>
        <div id="content">
          <div class="content_inner">
          <% flash.keys.each do |key| %>
          <section class="prepend-1 append-1"><div class="<%= key.to_s %>"><%= flash[key].force_encoding("UTF-8") %></div></section>
          <% end %>
          <%= yield %>
          </div>
        </div>

        <%= render :partial=>"layouts/loading" %>

      <div id="footer">
        <%= render :partial=>"layouts/top_menu/footer" %>
      </div>
    </div>
  </body>
</html>
