<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">
  <title><%= @title || yield(:title) %> <%= @global_title %></title>
<%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
<%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
<!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
<%= stylesheet_link_tag 'custom', :media => 'screen' %>
<%= stylesheet_link_tag 'backend', :media => 'screen' %>
<!--[if IE 7]> <%= stylesheet_link_tag 'ie7' %>   <![endif]-->
<!--[if lte IE 6]> <%= stylesheet_link_tag 'ie6' %> <![endif]-->
  <%= javascript_include_tag 'backend' %>
  <%= javascript_include_tag "jquery.hoverIntent.minified", "jquery.dcmegamenu" %>
  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>
<body >
<div class='body_inner'>
  <div style="border-top:solid 15px #000000;"></div>
  <div class="container" style="width:1000px;">
  
    <div id="login_container" style="">
      <div style="width:553px;margin:auto;">
      <div style="margin-bottom: 20px;"><%=image_tag 'case/logo-signin.gif'%></div>
      <% flash.keys.each do |key| %>
        <section class="prepend-1 append-1"><div class="<%= key.to_s %>"><%= flash[key].force_encoding("UTF-8") %></div></section>
      <% end %>
        <div style="background-color: #BF1F30;padding:10px 10px 10px 140px;">
        <%= yield %>
        </div>
      <div class="clear" > </div>
      <div style="margin-top:25px;border-top:solid 1px #909092;"></div>
      </div>
      
    </div>
  
  </div>
</div>
</body>
</html>
