<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">
    <title><%= @title || yield(:title) %> <%= @global_title %></title>
    <%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "jquery.hoverIntent.minified", "jquery.dcmegamenu" %>
    <%= csrf_meta_tag %>
    <%= yield :head %>
  </head>
  <body>
    <div id="page" class="container" >
      
      <div id="header">
        <div id="header_info1" >
         <b>
          <%= link_to "华晨保险事故车处理系统", "/", :id => "backend_title" %>&nbsp;&nbsp;&nbsp;&nbsp;
          操作员：<%= current_user.name %> 所属公司：<%= current_user.company_name %> 职位：<%= current_user.role %>
         </b>
          <%= link_to "退出", "/signout", :style=>"position:absolute;right:5px;"%>
        </div>
        <div id="header_info2" >
          <h3>INSURANCE CAR ACCIDENT PROCESSING SYSTEM</h3>
        </div>

      </div>
      <div id="center">
        <div id="lftnav">
          <%=render :partial=>'layouts/top_menu/case_nav' %>
        </div>
        <div id="content">
          <div class="clearfix">
          <% flash.keys.each do |key| %>
          <section class="prepend-1 append-1"><div class="<%= key.to_s %>"><%= flash[key].force_encoding("UTF-8") %></div></section>
          <% end %>
          <%= yield %>
          </div>
        </div>        
      </div>


      <div id="footer">
        <%= debug(params) if Rails.env.development? %>
      </div>
    </div>
  </body>
</html>
