<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">
    <title><%= @title || yield(:title) %> <%= @global_title %></title>
    <%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag 'frontend' %>
    <%= javascript_include_tag "jquery.hoverIntent.minified", "jquery.dcmegamenu" %>
    <%= csrf_meta_tag %>
    <%= yield :head %>
  </head>
  <body>
      <div id="topBar" >
       <div class="container page_width clearfix">
          <div id="topNav">
            <ul class="fl">
              <li class="selected"><a class="index" href="/">大连华宸</a></li>
            </ul>

            <div class="fr">
              <%= render :partial => "layouts/top_menu/default" %>
            </div>
          </div>
       </div>
      </div>
    <div class="container" style="width: auto;">
      <div class="page_width">
        <header id="mainNav">
  
          <div id="logo" class="">
          <%= link_to image_tag('logo.gif'), "/", :id => "logo" %>
          </div>
          <div class="">
          <%= render :partial => "layouts/top_menu/main_menu" %>
          </div>
        </header>
        <%= render :partial => "layouts/car_filters" %>
  
        <% flash.keys.each do |key| %>
        <section class=""><div class="<%= key.to_s %>"><%= flash[key].force_encoding("UTF-8") %></div></section>
        <% end %>
        <div>
          <%=image_tag("banner2.gif")%>
        </div>
        <% if current_page?(root_path) %>
        <div class="page_width" style="position:relative;overflow: hidden">
          <%= render :partial=>"layouts/slider" %>
        </div>
        <% end %>
        <div>
          <%= render :partial=>"layouts/banner" %>
        </div>
      </div>
      
      <div class="content" style="background-color: white;">
        <div class="page_width">
          <h1 class="page-title"><%= @title || yield(:title) %></h1>
          <%= yield %>
          <div class="clear"> </div>
        </div>
      </div>

      <%=render :partial => "layouts/top_menu/bottom_menu"%>
    </div>
    
    <footer class="">
      <div class="page_width" style="text-align: center;">
<ul><li>Copyright &copy;2011-2013 大连华宸汽车评估有限公司 </li>
<li>公司常年法律顾问：大连华宸事务所</li>
<li><a target="_blank" href="http://www.miibeian.gov.cn/"><span style="color:#999">辽ICP备13009571号</span></a></li><br>
</ul>
      </div>
      <%= debug(params) if Rails.env.development? %>
    </footer>

  </body>
</html>
